<!DOCTYPE html> 
<html lang="en">
  <section class="background-image_photo_gallery">
    <head>
    <title>The Art and Photography Works of Katie and Vincent Laguna</title>
  </head>
  <body>
    <section class="jumbotron"> 
      <div class="container"> 
        <div class="col-sm-11"> 
           <h3>The Art and Photography Works of Katie and Vincent Laguna</h3>
        </div> 
        <div class="col-sm-11">
          <h4>Home of Our Works, Future Blog and Story</h4>
        </div>
      </div> 
        <div class="col-sm-2"> 
          <%= link_to "Home", '/' %>
        </div> 
        <div class="col-sm-2"> 
          <%= link_to "Art Gallery", '/pages/art_gallery' %>
        </div>
        <div class="col-sm-2"> 
          <a href="https://www.ownlittleworldartistry.com/" target="">Own Little World Artistry</a> 
        </div>
        <div class="col-sm-2"> 
          <a href="https://missionsharekindess.herokuapp.com/" target="">Mission Share Kindness Project</a> 
        </div>
        <div class="col-sm-2"> 
          <%= link_to "Our Story", '/pages/about' %>
        </div>
        <div class="col-sm-2"> 
          <%= link_to "Contact Us", '/pages/contact' %>
        </div>
     </section>
    </section>
    <footer class="footer">
      <!--<div class="row"> 
        <p class="col-sm-2">&copy; 2020 Vincent A. Laguna</p> 
      </div>-->
        <div class="col-sm-2"> 
          <a href="https://www.ownlittleworldartistry.com/" target="">Own Little World Artistry</a> 
        </div>
        <div class="col-sm-2"> 
          <a href="https://github.com/vincentlaguna" target="">Github</a>
        </div> 
        <div class="col-sm-2"> 
          <a href="https://linkedin.com/in/vincent-laguna/" target="">Linkedin</a> 
        </div> 
        <div class="col-sm-2"> 
          <a href="https://twitter.com/vincent_laguna" target="">Twitter</a> 
        </div> 
        <div class="col-sm-2"> 
          <a href="https://instagram.com/laguna_media.arts/" target="">Instagram</a> 
        </div> 
        <div class="col-sm-2"> 
          <a href="https://missionsharekindess.herokuapp.com/" target="">Mission Share Kindness</a>
        </div>
    </footer> 
  </body>
</html> 
