/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.background-image{
	background: asset-url('big_sur_cover.jpg') no-repeat center center;
	background-size: cover;
  height: 1000px;
  text-align: center; 
}

.background-image_photo_gallery{
	background: asset-url('bixby_cover_1_vert.jpg') no-repeat center center;
	background-size: cover;
  height: cover;
  text-align: center; 
}

.background-image_art_gallery{
	background: asset-url('carmel_cover.jpg') no-repeat center center;
	background-size: cover;
  height: cover;
  text-align: center; 
}

.background-image_about{
	background: asset-url('bixby_cover_2.jpg') no-repeat center center;
	background-size: cover;
  height: 1000px;
  text-align: center; 
}

.background-image_contact{
	background: asset-url('carmel_cover_2.jpg') no-repeat center center;
	background-size: cover;
  height: 1000px;
  text-align: center; 
}

.container{
  //text-align: left;
}

.photo-img{
  height: 500px;
}

.headline{
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
